<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="InsiderecommendedMapper">
	
	<!--表名 -->
	<sql id="tableName">
		KY_INSIDERECOMMENDED
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		IMG_PATH,	
		LINK,	
		SORT,
		ADD_USER,	
		ADD_TIME,	
		INSIDERECOMMENDED_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{IMG_PATH},	
		#{LINK},
		#{SORT},	
		#{ADD_USER},	
		#{ADD_TIME},	
		#{INSIDERECOMMENDED_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			INSIDERECOMMENDED_ID = #{INSIDERECOMMENDED_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			IMG_PATH = #{IMG_PATH},
			LINK = #{LINK},
			SORT = #{SORT},
			ADD_USER = #{ADD_USER},
			ADD_TIME = #{ADD_TIME},
		INSIDERECOMMENDED_ID = INSIDERECOMMENDED_ID
		where 
		INSIDERECOMMENDED_ID = #{INSIDERECOMMENDED_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			INSIDERECOMMENDED_ID = #{INSIDERECOMMENDED_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and IMG_PATH =  #{pd.keywords} 
		</if>
		ORDER BY SORT DESC
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			INSIDERECOMMENDED_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 获取SORT字段的最大值 -->
	<select id="getMaxSort" resultType="int">
		select MAX(SORT) 
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 通过special删除-->
	<delete id="deleteBySpecialId" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			IMG_PATH = #{specialId}
	</delete>
	
	<!-- 通过IMG_PATH数组批量删除item -->
	<delete id="deleteAllBySpecialIds" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			IMG_PATH in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>